<h1>About Me</h1>
<%= form_tag 'save', method: 'put'  do %>

    <div class="field">
      <%=label_tag 'Name' %><br>
      <%= text_field_tag 'name', @user.name %>
    </div>

    <div class="field">
      <%= label_tag 'Surname' %><br>
      <%= text_field_tag 'surname', @user.surname  %>
    </div>

    <div class="field">
      <%=label_tag 'Email' %><br>
      <%= text_field_tag 'email', @user.email, :disabled => true %>
    </div>

    <div class="actions">
      <%= submit_tag 'Zapisz', :class=>'btn' %>
    </div>



<% end %>


